body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #edf2f6;
}

 /*HEADER & SEARCH CONTENT*/
header {
  height: 45px;
  border-bottom: 1px solid #d3d3d3;
  background: #FFF;
}

.search-icons {
  width: 25px;
}

.left-arrow {
  display: none;
  position: relative;
  top: 17px;
  float: left;
  width: 10px;
}
.left-icon {
  float: left;
  margin: 10px 8px 0 8px;
}

.search-box {
  width: 53%;
  height: 43px;
  padding-left: 5px;
  border: none;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
}

.search-icons-right {
  float: right;
  margin: 10px 4px 0 0;
}

.search-icons-right .search-icons {
  margin-left: 4px;
}

/*LEFT NAV CONTENT*/
#left-nav {
  position: fixed;
  top: 45px;
  left: 0px;
  width: 42px;
  height: 100%;
  background: #354052;
}

.nav-thumbnail {
  display: none;
  border-bottom: 2px solid black;
}

.thumbnail-image {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 15px auto 0 auto;
  background: white;
}

.thumbnail-header {
  text-align: center;
  margin: 8px 0 15px 0;
  font-weight: 400;
  color: #9698a5;
}

.nav-header {
  margin: 15px 0 0px 0px;
  font-size: 0.65em;
  text-align: center;
  color: #919cae;
  opacity: 0.6;
}

.nav-image {
  display: block;
  width: 30px;
  margin: 15px auto;
}

.nav-content-headers {
  display: none;
  font-size: 0.6em;
  color: #9698a5;
}

.nav-main,
.nav-admin {
  border-bottom: 2px solid black;
}

.categories-header {
  display: none;
}

.checkbox {
  display: block;
  width: 15px;
  height: 15px;
  margin: 12px auto 0 auto;
}

.checkbox-titles {
  display: none;
  width: 65%;
  margin: 0 0 10px 0;
  color: #9698a5;
  font-size: 0.6em;
  font-weight: 400;
}

/*MAIN BODY CONTENT*/

.main-body {
  margin-left: 42px;
}

.header-wrapper {
  padding-top: 1px;
  background: #FFF;
}

.main-body-header {
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
}

.current-location {
  text-align: center;
}

.location-image {
  display: inline-block;
  width: 15px;
}

.location-text {
  display: inline-block;
  margin: 0;
  font-size: 0.65em;
  font-weight: 400;
  color: #9698a5;
}

.location-text span {
  color: #16a4fa;
}

.buttons {
  text-align: center;
  margin: 10px 0;
}

.open-button {
  background: transparent url(images/open_dot.svg) no-repeat 11px 8px / 10px;
  vertical-align: top;
  width: 70px;
  height: 30px;
  padding-left: 16px;
  border: 2px solid #d3d3d3;
  border-radius: 32%;
  text-align: center;
  color: #9698a5;
  font-weight: 700;
}

.sm-button {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border: 2px solid #d3d3d3;
  border-radius: 50%;
}

.bookmark-button {
  background: transparent url(images/bookmark.svg) no-repeat 6px 6px / 15px;
}

.pencil-button {
  background: transparent url(images/pencil.svg) no-repeat 7px 5px / 15px;
}

.trash-button {
  background: transparent url(images/trash.svg) no-repeat 6px 5px / 15px;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 550px) {
  header {
    margin-left: 125px;
  }
  .left-arrow {
    display: block;
    margin-left: 4px;
  }
  .left-icon {
    margin: 10px 8px 0 0;
  }
  #left-nav {
    top: 0;
    width: 125px;
  }
  .nav-thumbnail {
    display: block;
  }
  .nav-header {
    text-align: left;
    margin: 15px 0 8px 10px;
  }
  .nav-image {
    display: inline-block;
    width: 15px;
    margin: 0 4px 0 10px;
  }
  .nav-content-headers {
    display: inline-block;
    width: 50%;
    margin: 12px 0;
  }
  .categories-header {
    display: block;
    margin:
  }
  .checkbox {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 0 0 10px;
  }
  .checkbox-titles {
    display: inline-block;
  }
  .main-body {
    margin-left: 125px;
  }
}
