body,
html {
  height: 100%;
  margin: 0;
  background: #edf2f6;
}
 /*HEADER & SEARCH CONTENT*/
header {
  height: 45px;
  border-bottom: 1px solid lightgrey;
  background: #FFF;
}

.search-icons {
  width: 25px;
}

.left-icon {
  float: left;
  margin: 10px 8px 0 8px;
}

.search-box {
  width: 53%;
  height: 43px;
  padding-left: 5px;
  border: none;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

.search-icons-right {
  float: right;
  margin: 10px 4px 0 0;
}

.search-icons-right .search-icons {
  margin-left: 4px;
}

/*NAV CONTENT*/
#left-nav {
  position: fixed;
  top: 45px;
  left: 0px;
  width: 42px;
  height: 100%;
  background: #354052;
}

.nav-thumbnail {
  display: none;
  border-bottom: 2px solid black;
}

.thumbnail-image {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 15px auto 0 auto;
  background: white;
}

.thumbnail-header {
  text-align: center;
  margin: 8px 0 15px 0;
  color: #9698a5;
}

.nav-header {
  margin: 15px 0 0px 0px;
  font-size: 0.75em;
  text-align: center;
  color: #919cae;
}

.nav-image {
  display: block;
  width: 30px;
  margin: 15px auto;
}

.nav-content-headers {
  display: none;
  font-size: 0.6em;
  color: #9698a5;
}

.nav-main,
.nav-admin {
  border-bottom: 2px solid black;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 550px) {
  header {
    margin-left: 125px;
  }
  #left-nav {
    top: 0;
    width: 125px;
  }
  .nav-thumbnail {
    display: block;
  }
  .nav-header {
    text-align: left;
    margin: 15px 0 8px 8px;
  }
  .nav-image {
    display: inline-block;
    width: 15px;
    margin: 0 8px 0 8px;
  }
  .nav-content-headers {
    display: inline-block;
    width: 50%;
    margin: 12px 0;
  }
}
