body,
html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #edf2f6;
}

 /*HEADER & SEARCH CONTENT*/
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #d3d3d3;
  background: #FFF;
}

.search-icons {
  width: 25px;
}

.left-arrow {
  display: none;
  position: relative;
  top: 17px;
  float: left;
  width: 10px;
}
.left-icon {
  float: left;
  margin: 10px 8px 0 8px;
}

.search-box {
  width: 53%;
  height: 43px;
  padding-left: 5px;
  border: none;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
}

.search-icons-right {
  float: right;
  margin: 10px 4px 0 0;
}

.search-icons-right .search-icons {
  margin-left: 4px;
}

/*LEFT NAV CONTENT*/
#left-nav {
  position: fixed;
  top: 45px;
  left: 0px;
  width: 42px;
  height: 100%;
  background: #354052;
}

.nav-thumbnail {
  display: none;
  border-bottom: 2px solid black;
}

.thumbnail-image {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 15px auto 0 auto;
  background: white;
}

.thumbnail-header {
  text-align: center;
  margin: 8px 0 15px 0;
  font-weight: 400;
  color: #9698a5;
}

.nav-header {
  margin: 15px 0 0px 0px;
  font-size: 0.65em;
  text-align: center;
  color: #919cae;
  opacity: 0.6;
}

.nav-image {
  display: block;
  width: 30px;
  margin: 15px auto;
}

.nav-content-headers {
  display: none;
  font-size: 0.6em;
  color: #9698a5;
}

.nav-main,
.nav-admin {
  border-bottom: 2px solid black;
}

.categories-header {
  display: none;
}

.checkbox {
  display: block;
  width: 15px;
  height: 15px;
  margin: 12px auto 0 auto;
}

.checkbox-titles {
  display: none;
  width: 65%;
  margin: 0 0 10px 0;
  color: #9698a5;
  font-size: 0.6em;
  font-weight: 400;
}

/*MAIN BODY CONTENT*/
.main-body {
  margin-left: 42px;
}

.header-wrapper {
  position: relative;
  padding-top: 1px;
  border-bottom: 2px solid #d3d3d3;
  background: #FFF;
}

.main-body-header {
  margin: 60px 0 10px 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
}

.current-location {
  text-align: center;
}

.location-image {
  display: inline-block;
  width: 15px;
}

.location-text {
  display: inline-block;
  margin: 0;
  font-size: 0.65em;
  font-weight: 400;
  color: #9698a5;
}

.location-text span {
  color: #16a4fa;
}

.buttons {
  text-align: center;
  margin: 15px 0;
}

.open-button {
  background: transparent url(images/open_dot.svg) no-repeat 11px 8px / 10px;
  vertical-align: top;
  width: 70px;
  height: 30px;
  margin: 0 5px;
  padding-left: 16px;
  border: 2px solid #d3d3d3;
  border-radius: 20px;
  text-align: center;
  color: #9698a5;
  font-weight: 700;
}

.sm-button {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border: 2px solid #d3d3d3;
  border-radius: 50%;
}

.bookmark-button {
  background: transparent url(images/bookmark.svg) no-repeat 6px 6px / 15px;
}

.pencil-button {
  background: transparent url(images/pencil.svg) no-repeat 7px 5px / 15px;
}

.trash-button {
  background: transparent url(images/trash.svg) no-repeat 6px 5px / 15px;
}

.tabs {
  text-align: center;
}

.tab-titles {
  display: inline-block;
  margin: 10px 2px;
  color: #9698a5;
}

.selected {
  padding-bottom: 8px;
  border-bottom: 2px solid #16a4fa;
  color: black;
}

/*GRAPH CONTENT*/
.graph-content {
  margin: 30px 0 0 42px;
}

.loading-images-wrapper {
  max-width: 518px;
}

.loading-image-block {
  position: relative;
  width: 150px;
  margin: 0 auto 20px auto;
  color: #9698a5;
}

.graph-inner-titles {
  position: absolute;
  top: 32%;
  left: 25%;
  text-align: center;
}

.forwards {
  left: 27%;
}

.graph-inner-titles h4 {
  margin: 0;
  font-size: 2em;
}

.graph-inner-titles h5 {
  margin: 0;
}

.loading-button {
  display: block;
  width: 180px;
  height: 30px;
  margin: 0 auto 20px auto;
  border: 2px solid #d3d3d3;
  border-radius: 20px;
  color: #9698a5;
  background: #FFF;
}

.graph-placeholder {
  display: block;
  width: 90%;
  min-width: 250px;
  max-width: 350px;
  height: 150px;
  margin: 0 auto 20px auto;
  background: #FFF;
}

/*JOB DESCRIPTION SECTION*/

.job-description {
  margin: 30px 0 0 42px;
}

.job-description-wrapper {
  width: 96%;
  max-width: 648px;
  margin: 0 auto;
  background: #FFF;
}

.jd-description-inner-title {
  background: #6f7e95;
  color: #FFF;
}

.jd-inner-main-title {
  display: inline-block;
  margin: 20px 0 20px 8px;
  text-transform: uppercase;
}

.main-title-button {
  border: 0;
  background: #9698a5 url(images/pencil_white.svg) no-repeat 6px 3px / 15px;
  height: 24px;
  width: 55px;
  margin-left: 10px;
  padding-left: 22px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
}

.jd-inner-content {
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid #9698a5;
}

.jd-inner-title {
  text-transform: uppercase;
  text-decoration: underline;
  color: #6f7e95;
}

.jd-inner-description {
  width: 98%;
  margin-bottom: 10px;
  font-size: 0.8em;
  font-weight: 700;
  color: #9698a5;
}

.jd-last {
  border-bottom: none;
}

.description-title {
  vertical-align: top;
}

/*LINKS SECTION*/

.links-section {
  margin: 30px 0 0 42px;
}

.soc-media {
  display: block;
  width: 96%;
  height: 35px;
  max-width: 400px;
  margin: 15px auto;
  border: none;
  color: #FFF;
}

.facebook-btn {
  background: #3b5998 url(images/facebook_logo.svg) no-repeat 10px 10px / 15px;
}

.twitter-btn {
  background: #00aced url(images/twitter_logo.svg) no-repeat 10px 10px / 15px;
}

.linkedin-btn {
  background: #007bb6 url(images/linkedin_logo.svg) no-repeat 10px 10px / 15px;
}

.links-widgets {
  width: 96%;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #9698a5;
}

#last-widget {
  border: none;
}

.links-widgets input {
  width: 170px;
  height: 35px;
  border: none;
  padding: 0 0 0 10px;
  color: #6f7e95;
}

#email-input {
  width: 220px;
}

.links-widgets button {
  width: 50px;
  height: 35px;
  margin-left: -4px;
  border: none;
  padding: 0;
  color: #FFF;
  background: #49b8be;
}

.links-widgets h3 {
  color: #6f7e95;
  padding-left: 24px;
}

.links-widgets p {
  font-size: 0.8em;
  color: #9698a5;
}

#link-to-job-header {
  background: transparent url(images/world.svg) no-repeat 0px 2px / 18px;;
}

#use-button-widget-header {
  background: transparent url(images/widget.svg) no-repeat 0px 2px / 18px;;
}

#upload-by-email-header {
  background: transparent url(images/paper_plane.svg) no-repeat 0px 2px / 18px;;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 550px) {
  header,
  .main-body,
  .graph-content,
  .job-description,
  .links-section {
    margin-left: 125px;
  }
  .left-arrow {
    display: block;
    margin-left: 4px;
  }
  .left-icon {
    margin: 10px 8px 0 0;
  }
  .search-box {
    width: 48%;
  }
  .search-icons-right {
    position: absolute;
    top: 0;
    right: 125px;
  }
  #left-nav {
    top: 0;
    width: 125px;
  }
  .nav-thumbnail {
    display: block;
  }
  .nav-header {
    text-align: left;
    margin: 15px 0 8px 10px;
  }
  .nav-image {
    display: inline-block;
    width: 15px;
    margin: 0 4px 0 10px;
  }
  .nav-content-headers {
    display: inline-block;
    width: 50%;
    margin: 12px 0;
  }
  .categories-header {
    display: block;
    margin:
  }
  .checkbox {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 0 0 10px;
  }
  .checkbox-titles {
    display: inline-block;
  }
}

@media screen and (min-width: 650px) {
  .main-body-header {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  .current-location {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 25px;
  }
  .buttons {
    top: 62px;
    right: 0px;
    position: absolute;
  }
  .tab-titles {
    margin: 0 5px;
  }
  .tabs-top,
  .tabs-bottom {
    display: inline-block;
  }
  .loading-images-wrapper {
    margin: 0 auto 30px auto;
  }
  .loading-image-block {
    display: inline-block;
    margin: 0 10px;
    width: 150px;
  }
  .graph-inner-titles {
    top: 30%;
    left: 24%;
  }
  .forwards {
    left: 28%;
  }
  .loading-button {
    margin: 20px auto;
  }
  .graph-placeholder {
    width: 500px;
    height: 200px;
  }
  .jd-inner-title {
    display: inline-block;
    width: 150px;
    text-decoration: none;
  }
  .jd-inner-description {
    display: inline-block;
    width: 65%;
  }
  .soc-media-wrapper {
    display: flex;
    width: 96%;
    margin: 0 auto;
  }
  .soc-media {
    margin: 15px 5px;
  }
}

@media screen and (min-width: 900px) {
  .tabs {
    text-align: left;
  }
  .tab-titles {
    margin: 0 22px;
  }
  .graph-content {
    text-align: center;
    margin-bottom: 20px;
  }
  .loading-images-wrapper {
    display: inline-block;
    width: 65%;
    margin: 0;
  }
  .loading-image-block {
    margin: 0 5px;
  }
  .bar-graph-wrapper {
    display: inline-block;
    width: 32%;
    margin: 0 1%
  }
  .graph-placeholder {
    width: 100%;
    height: 150px;
    max-width: 500px;
    margin: 0;
  }
  .job-description {
    display: inline-block;
    width: 55%;
  }
  .links-section {
    display: inline-block;
    width: 30%;
    margin: 0;
  }
  .soc-media-wrapper {
    flex-direction: column;
  }
  .soc-media {
    width: 98%;
    margin: 6px auto 0 auto;
  }
}
